<h2>Welcome, {{ username }}!</h2>
<h3>Your Posts:</h3>
{{#if posts.length}}
  {{#each posts as |post|}}
    {{> post-info post}}
    <a href="/edit-post/{{post.id}}">Edit</a>
    <button class="delete-post" data-id="{{post.id}}">Delete</button>
  {{/each}}
{{else}}
  <p>You haven't created any posts yet.</p>
{{/if}}
<a href="/new-post">Create a New Post</a>